.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: gray;
}

::-webkit-scrollbar-thumb {
  background: #4d4d4d;
}

p {
  font-size: 50px;
  display: block;
  text-align: center;
  line-height: 100px;
  height: 100px;
  margin-top: 40vh;
  text-transform: uppercase;
  letter-spacing: 10px;
}
